
body {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

.header {
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-family: Sacramento;
    font-weight: bold;
    text-shadow: 3px 3px white;
    margin-bottom: 50px;
    margin-top: 40px;
    
    /** Adds Animation to title of page **/
    animation-name: pulse;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/** Adds Animation to title of page **/
@keyframes pulse {
   100% {
       transform: scale(0.8) scale(1.4);
   }

   0% {
       transform: scale(1.4) scale(0.8);
   }  
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 150px;
    margin-right: 50px;
    margin-bottom: 200px;
}

.settings h2 {
    font-family: Helvetica;
    font-size: 30px;
    text-shadow: 2px 2px white;
    font-family: Roboto;

}

#valueSize {
    font-family: Roboto;
} 

button {
    background-color:black ;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 30px;
    font-weight:bolder;
    font-family: Roboto;
    color:white
}

.gridBox {
    height: 594px;
    width: 594px;
    display: grid;
    border-style: solid;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 200px;

}
.box {
    border: 0.1px solid;
    border-color: lightgrey;
    background-color: aliceblue;    
  }

  .gridSize {
      font-family: Roboto;
      font-weight: bold;
  }
